scripts=["create service user content-all-readwrite-service with forced path system/cq:services/aemcors
set principal ACL for content-all-readwrite-service
    allow jcr:all on /content/cq:tags/aemcors
    allow jcr:all on /content/dam/aemcors
    allow jcr:all on /content/experience-fragments/aemcors
    allow jcr:all on /content/aemcors
end
"]